<form class="w-100 p-3" style="left: 50%" #register="ngForm" (ngSubmit)="onSubmit(register)">
    <div class="text-center">
        <h1 class="text-main"><i class="fa-solid fa-clipboard-check"></i> ToDoListApp</h1>
        <p>Register new Account</p>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input #name="ngModel" type="text" class="form-control" id="username" required ngModel name="username" placeholder="Your name">
        <div *ngIf="name.touched && name.invalid" class="text-danger mt-2">Enter valid username</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input #email="ngModel" type="email" class="form-control" id="email" required ngModel name="email" placeholder="example@mail.com">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <div *ngIf="email.touched && email.invalid" class="text-danger mt-2">Enter valid email</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input #password="ngModel" type="password" class="form-control" id="password" required ngModel name="password" placeholder="Password">
        <div *ngIf="password.touched && password.invalid" class="text-danger mt-2">Enter valid password</div>
    </div>
    <div class="mb-3">
        <label for="birthdate" class="form-label">Birthdate</label>
        <input #birthdate="ngModel" type="date" class="form-control" id="birthdate" required ngModel name="birthdate">
        <div *ngIf="birthdate.touched && birthdate.invalid" class="text-danger mt-2">Enter valid password</div>
    </div>
    <div class="text-center mb-3">
        <button type="submit" class="btn bg-main text-white rounded-5 mb-2 w-25">Sign up</button>
    </div>
    <p>have an account? <a [routerLink]="['/login']">Log in here</a></p>
</form>