<nav class="navbar navbar-expand-lg navbar-white bg-main p-3">
    <div class="container">
        <a class="navbar-brand text-white d-flex align-items-center" routerLink="['']"><i
                class="fa-solid fa-clipboard-check me-2" style="font-size: 30px;"></i> ToDoListApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex align-items-center" style="margin-left: auto;">
                <p *ngIf="user" style="cursor: pointer;" class="m-0 me-2 p-0 text-white" data-bs-target="#profile" data-bs-toggle="modal">{{user.username}}</p>
                <button #profileBtn class="rounded-circle btn btn-light text-main me-3" data-bs-toggle="modal"
                    data-bs-target="#profile" type="button">
                    <i class="fa-solid fa-user"></i></button>
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade text-white" id="profile" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content bg-dark" #input="ngForm" (submit)="editProfile(input)">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Edit Profile</h3>
                <button #shareWorkspaceClose type="button" class="btn-close bg-danger" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="username" class="mb-2">Username</label>
                <input [(ngModel)]="usernameInput" name="username" placeholder="Your Name" class="form-control"
                    type="text" required />
                <label for="email" class="my-2">Email</label>
                <input [(ngModel)]="emailInput" name="email" placeholder="example@mail.com" class="form-control"
                    type="email" required />
                <label for="birthdate" class="my-2">Birthdate</label>
                <input [ngModel]="birthdateInput | date:'yyyy-MM-dd'" name="birthdate" class="form-control" type="date" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>